<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a href="" class="navbar-brand"> Babble </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/{{user.username}}">{{{user.username}}}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-danger my-2 my-sm-0" href="/home/logout">Logout</a>
    </form>
  </div>
  <button type="button" id="mobileusr" class="btn nav-link" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="fas fa-users"></i> Users
  </button>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <nav class="col-md-12 bg-light sidebar">
            <div class="sidebar-sticky" id="style-1">
              <input class="form-control mr-sm-2" id="searchMob" type="search" placeholder="Search" aria-label="Search"
                onsearch="searchUserMob()">
              <input type="input" id="userid" value="{{user._id}}" hidden>
              <input type="input" id="username" value="{{user.username}}" hidden>
              <ul class="nav flex-column" id="userslistMob">
                {{#users}}
                <li class="nav-item users {{this._id}}Mob" data-id="{{this._id}}">
                  <img src="http://sg-fs.com/wp-content/uploads/2017/08/user-placeholder.png" alt="Avatar"
                    class="avatar">
                  <span class="offline-dot" id="{{this._id}}Mob"></span>
                  {{this.username}}
                </li>
                {{/users}}
              </ul>
            </div>
          </nav>
        </div>
        <button class="btn btn-modal-close" data-dismiss="modal"> <i class="fas fa-times-circle fa-2x"></i> </button>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid" id="messeging">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky" id="style-1">
        <input class="form-control mr-sm-2" id="searchDesk" type="search" placeholder="Search" aria-label="Search"
          onsearch="searchUserDesk()">
        <input type="input" id="userid" value="{{user._id}}" hidden>
        <input type="input" id="username" value="{{user.username}}" hidden>
        <ul class="nav flex-column" id="userslistDesk">
          {{#users}}
          <li class="nav-item users {{this._id}}" data-id="{{this._id}}">
            <img src="http://sg-fs.com/wp-content/uploads/2017/08/user-placeholder.png" alt="Avatar" class="avatar">
            <span class="offline-dot" id="{{this._id}}Desk"></span>
            {{this.username}}
          </li>
          {{/users}}
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
      <div class="chat">
        <div class="container-fluid">

          <div class="messaging" id="message-area">
            <div class="inbox_msg">
              <div class="mesgs">
                {{#chats}}
                {{#if (eq ../user.id this.userid)}}
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{this.message}}</p>
                    <span class="time_date"> {{datemode this.createdAt}} </span>
                  </div>
                </div>
                {{else}}
                <div class="incoming_msg">
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <strong> {{this.username}} </strong>
                      <p>{{this.message}}</p>
                      <span class="time_date"> {{datemode this.createdAt}} </span>
                    </div>
                  </div>
                </div>
                {{/if}}
                {{/chats}}
                <div class="msg_history" id="output">

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div id="type">
      </div>
      <div class="message-bar">
        <input class="form-control message-button" placeholder="Enter message" id="message" onkeypress="userTyping();">
        <button class="btn btn-primary" id="send"> <i class="fas fa-paper-plane"></i> </button>
      </div>
    </main>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var timeout;
  var users = {{{ json users }}};
  console.log(users)
  function searchUserDesk() {
    let searchDesk = document.getElementById('searchDesk').value;
    document.getElementById('userslistDesk').innerHTML = "";
    for (let user of users) {
      if (user.username.toLowerCase().includes(searchDesk.toLowerCase())) {
        document.getElementById('userslistDesk').innerHTML += `
          <li class="nav-item users">
            <img src="http://sg-fs.com/wp-content/uploads/2017/08/user-placeholder.png" alt="Avatar"
              class="avatar">
            <span class="offline-dot" id="${user._id}"></span>
            ${user.username}
          </li>
        `;
      } else if (!user.username.toLowerCase().includes(searchDesk.toLowerCase())) {
      } else {
        document.getElementById('userslistDesk').innerHTML =
          `<div class="card mt-3 p-3"> <strong> No user found! </strong> </div>`;
      }
    }
  }

  function searchUserMob() {
    let searchMob = document.getElementById('searchMob').value;
    document.getElementById('userslistMob').innerHTML = "";
    for (let user of users) {
      if (user.username.toLowerCase().includes(searchMob.toLowerCase())) {
        document.getElementById('userslistMob').innerHTML += `
          <li class="nav-item users">
            <img src="http://sg-fs.com/wp-content/uploads/2017/08/user-placeholder.png" alt="Avatar"
              class="avatar">
            <span class="offline-dot" id="${user._id}"></span>
            ${user.username}
          </li>
        `;
      } else if (!user.username.toLowerCase().includes(searchMob.toLowerCase())) {
      } else {
        document.getElementById('userslistMob').innerHTML =
          `<div class="card mt-3 p-3"> <strong> No user found! </strong> </div>`;
      }
    }
  }

  function timeoutFunction() {
    socket.emit("typing", {
      room: 'general',
      typing: false
    });
  }

  function userTyping() {
    socket.emit('typing', {
      room: 'general',
      typing: true
    });
    setTimeout(timeoutFunction, 2000);
  }


  socket.on('connect', function () {
    console.log('Connected to server');
    var userid = document.getElementById('userid').value;
    socket.emit('login', { userid });
    socket.on('publish', (data) => {
      for (let key in data.usersStatus) {
        if (key === userid) {
          let userDesk = document.getElementById(key + 'Desk');
          userDesk.classList.remove('offline-dot');
          userDesk.classList.add('online-dot');
          let userMob = document.getElementById(key + 'Mob');
          userMob.classList.remove('offline-dot');
          userMob.classList.add('online-dot');
        } else {
          let userDesk = document.getElementById(key + 'Desk');
          userDesk.classList.remove('online-dot');
          userDesk.classList.add('offline-dot');
          let userMob = document.getElementById(key + 'Mob');
          userMob.classList.remove('online-dot');
          userMob.classList.add('offline-dot');
        }
      }
    });
    socket.emit('joinroom', {
      room: 'general'
    });
    var send = document.getElementById('send');
    send.addEventListener('click', () => {
      let message = document.getElementById('message').value;
      if (message !== '') {
        socket.emit('chat', {
          room: 'general',
          userid: userid,
          message: message
        });
        document.getElementById('message').value = '';
      }
    })
    socket.on('message', (data) => {
      if (data.userid == userid) {
        document.getElementById('output').innerHTML += `
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>${data.message}</p>
            <span class="time_date"> ${data.time} </span>
          </div>
        </div>
      `;
      } else {
        document.getElementById('output').innerHTML += `
        <div class="incoming_msg">
          <div class="received_msg">
            <div class="received_withd_msg">
              <strong>${data.username}</strong>
              <p>${data.message}</p>
              <span class="time_date"> ${data.time} </span>
            </div>
          </div>
        </div>
      `;
      }
    });
    socket.on('leftuser', (data) => {
      document.getElementById('output').innerHTML += `
      <div class="alert alert-danger" role="alert">
        ${data.message}
      </div>
      `;
    });
    for (let user of users) {
      let tempEleDesk = document.getElementsByClassName(user._id + 'Desk');
      for (let temp of tempEleDesk) {
        temp.addEventListener('click', () => {
          window.location.href = `/chats/${temp.getAttribute('data-id')}`;
        });
      }
      let tempEleMob = document.getElementsByClassName(user._id + 'Mob');
      for (let temp of tempEleMob) {
        temp.addEventListener('click', () => {
          window.location.href = `/chats/${temp.getAttribute('data-id')}`;
        });
      }
    }
    socket.on('typinguser', (data) => {
      if (data.typing) {
        document.getElementById('type').innerHTML = `
        <div id="wave">
          <span class="user"> <strong> ${data.username} </strong> </span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>`;
      } else {
        document.getElementById('type').innerHTML = ``;
      }
    })
  });
</script>